*{
    margin: 0;
    padding: 0;
  }
  
  
  .img-container {
    position: absolute;
    top:15px;
    left: 85%;
    color: #fff;
    cursor:pointer
  }
  
  .work-office{
    width: 40%;
    margin: 100px auto;
    display:flex;
    padding: 10px;
    justify-content: space-between;
  }
  span{
    margin-left: 10px;
  }
  .nav-header{
    background-color: #1e90ff;
  }
  
  #btn{
    background-color: #2ecc71;
    border: none;
    margin: 20px 10px;
  }
  .login{
    display:flex;
    min-height: 100vh;
    justify-content:center;
    align-items:center;
    background-color: #f2f2f2;
    font-family: 'Roboto',"sans-serif";
  }
  #login{
    margin-top: -10%;
    background-color: #fff;
    padding: 30px 60px;
    min-width: 400px;
    border-radius: 5px;
  }
  #login h1{
    margin-bottom: 15px;
    text-align: center;
  }
  .login .inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .login .inputs input{
    padding: 10px;
    border: none;
    background-color: #f2f2f2;
    outline: none;
  }
  .inputsForm{
    display:flex;
    flex-direction: column;
  }
  #add_employee{
    width: 30%;
    margin:  auto ;
    background-color: #fff;
    padding: 10px 20px;
    position: relative;
    top:20px;
    
  }

  .show-modal{
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: animateme;
    animation-duration: 0.5s;
  }

 
  
  .modal_content{
    width:400px;
    background: #fff;
  }

  



 

  .modal_header,.modal_footer{
    padding: 10px;
    background-color: #f2f2f2;
  }
  .modal_title{
    margin: 0;
  }

  .modal_body{
    padding: 10px;
    border-top: 1px solid #eee ;
    border-bottom: 1px solid #eee ;
  }
  @keyframes animateme{
    from{
      top:-300px;
      opacity: 0.2;
    }
    to{
      top:0px;
      opacity: 1;
    }
  }